<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8 ">

    <title>web audio the angular way</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">

    <script src=angular/angular.js></script>
    <script src=angular-audio/app/angular.audio.js></script>
    <script src=script.js></script>

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">



    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
    if (window.location.search.match(/print-pdf/gi)) {
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'css/print/pdf.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    }
    </script>

    <script>

    </script>

    <style>
    @font-face {
        font-family: 'Roboto';
        src: url('fonts/Roboto-Regular.ttf');
        /* IE9 Compat Modes */
    }
    @font-face {
        font-family: 'Roboto-thin';
        src: url('fonts/Roboto-Thin.ttf');
        /* IE9 Compat Modes */
    }
    input {
        padding: 10px 20px;
        font-size: 36px;
        border-radius: 15px;
        outline: none;
        margin: 20px 0px;
    }
    p,
    li {
        font-family: 'Roboto-thin', sans-serif !important;
    }
    button {
        font-family: 'Roboto', sans-serif !important;
    }
    h1,
    h2,
    h3 {
        /*font-family: 'Roboto-thin', sans-serif !important;*/
    }
    .big-button {
        padding: 10px 20px;
        font-size: 40px;
        border-radius: 6px;
        border: 1px solid #eee;
        color: #333;
        cursor: pointer;
        border-bottom: 5px solid #eee;
        outline: none;
    }
    code {
        font-size: 26px !important;
    }
    </style>


    <!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
</head>

<body ng-app=Demo>

    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <section>
                <h1>Web Audio, the Angular Way</h1>
                <h3>A Presentation about the Web Audio API and Angular</h3>
                <p>
                    <small>By <a href="http://github.com/danielstern">Daniel Stern</a> / <a href="http://twitter.com/hakimel">@danielstern</a>
                    </small>
                </p>
                <p>
                    <small>Reveal.js presentation framework by <a href="http://twitter.com/hakimel">@hakimel</a>
                    </small>
                </p>
            </section>
            <!-- 
				<section>
					<h2>Built with angular</h2>
					<body ng-controller=DemoController ng-init='message="so awesome"'>
        <h3>
            Angular is {{message}} 
        </h3>
        <input ng-model=message>
    </body>
				</section> -->

            <!-- Example of nested vertical slides -->
            <section>
                <section>
                    <h2>Angular Audio</h2>
                 
                    <p>
                        Game Plan:
                    </p>
                    <a href="#" class="image navigate-down">
                        <img width="178" height="238" src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
                    </a>
                </section>
                <section>
                    <h2>A history of audio itself ending with the inception of angular-audio</h2>
                    <p>For the record</p>
                </section>
                <section>
                    <h2>An in-depth demonstration of the angular-audio library</h2>
                </section>
                <section>
                    <h2>Have fun</h2>
                    <img src=img/gandalf.png>

                    <!-- <a class="test" href="http://cornify.com"> -->
                    <!-- <img width="280" height="326" src="https://s3.amazonaws.com/hakim-static/reveal-js/cornify.gif" alt="Unicorn"> -->
                    <!-- </a> -->
                </section>
            </section>

            </section>

            <section>
                <h2>About Me</h2>
                <p>
                    Web Developer From Toronto Ontario
                </p>
            </section>

            <section ng-init='message="develop"'>
                <h3>i {{message}} things
                    <span ng-if='message[3]=="#"'>up</span>
                </h3>
                <h3>

                </h3>
                <input ng-model=message>

            </section>

            <section>
                <h3>
                    You probably don't know me for:
                </h3>
                <ul>
                    <li>
                        elvish lorem ipsum
                    </li>
                    <li>
                        choose your own adventure books... for javascript
                    </li>
                    <li>
                        maple syrup dispensing static application
                    </li>
                </ul>

            </section>

            <section>
                <h2>a history of audio</h2>
            </section>

            <section>
                <p>
                    cavemen invent music, instruments soon to follow suit
                </p>
                <img src="img/old-fashioned-bande.png" alt="">

            </section>
            <section>
                <p>
                    humans only recently invent technology to reproduce sound
                </p>
                <img src="img/record-player.png" width=500px alt="">

            </section>
            <section>
                <p>
                    <!-- humankind's obsession with sounds and music clear by the amazing pace at which we evolve -->
                    technologies to reproduce sounds for mankind's sheer amusement evolve at astounding speed
                </p>
                <img src="img/nano.png" width=500px alt="">

            </section>
            <section>
                <h2>
                    The Evolution of Angular Audio
                </h2>

            </section>

            <section>
                <p>

                    started out as library to manage sounds for "ball agent"
                </p>
            </section>

            <section>
                <img src="img/ball-agent.png" width=500 alt="">
            </section>
            <section>
                <img src="img/ball-agent-review.png" width=800 alt="">
            </section>
            <section>
                <p>
                    evolution into a community-driven tool
                </p>
            </section>



            <section>
                <h2>the angular way</h2>


            </section>
            <section>
                <img src="img/no-angular-boromir.jpg" alt="Boromir saying, 'one does not simply learn angular.js" width=700px>
            </section>

            <section>
                <h3>angular.js</h3>
                <ul>
                    <li>
                        reduces project size
                    </li>
                    <li>
                        rapidly accelerates development speed
                    </li>
                    <li>
                        tends to be awesome
                    </li>
                </ul>
            </section>
            <section>
                <h3>angular modules</h3>
                <ul>
                    <li>
                        make object properties easily accessible to dom elements
                    </li>
                    <li>
                        reduce code size by eliminating repetition
                    </li>
                    <li>
                        tend to have active communities
                    </li>
                </ul>
            </section>

            <section>
                <img src="img/the-rock-html5.png" width=500 alt="">
            </section>

            <section>
                <h2>feature overview</h2>
            </section>

            <section>
                <h3>html markup</h3>
                <pre><code data-trim contenteditable>
				&lt;button ng-audio=sound.mp3&gt;CLICK ME&lt;/button&gt;
					</code></pre>
                <button class=big-button ng-audio=audio/that.mp3>CLICK ME</button>
            </section>

            <section>
                <h3>javascript markup</h3>
                <pre><code data-trim contenteditable>
&lt;script&gt;
	angular.module(&quot;Demo&quot;,['ngAudio'])
	.controller("DemoController",function(){
		     $scope.audio = &quot;sound3.mp3&quot;;
	});
&lt;/script&gt;
            					</code></pre>

                <pre><code data-trim contenteditable>
<html ng-controller=DemoController>
	<button ng-click=audio.play()>Click me.</button>
</script>
            					</code></pre>
                <button class=big-button ng-audio=audio/that.mp3>Click me.</button>

            </section>



            <section id="themes">
                <h3>Bindable Volume</h3>
                <button class=big-button ng-click='melody1.currentTime = 0;melody1.play()' ()>audio.volume</button>
                <input type=range min=0.1 max=1 step=0.1 ng-model=melody1.volume>
            </section>

            <section id="themes">
                <h3>Bindable Current Time</h3>
                <button class=big-button ng-click='melody2.currentTime = 0;melody2.play()' ()>audio.currentTime</button>
                <input type=number ng-model=melody2.currentTime>
            </section>

            <section id="themes">
                <h3>Bindable Progress</h3>
                <button class=big-button ng-click='melody3.currentTime = 0;melody3.play()' ()>audio.progress</button>
                     <input type=range min=0.1 max=1 step=0.01 ng-model=melody3.progress>
            </section>

            <section id="muting">
                <h3>Bindable Muting</h3>
                <button class=big-button ng-click='melody4.currentTime = 0;melody4.play()' ()>audio.muting</button>
                     <input type=checkbox ng-model=melody4.muting>
            </section>

       <!--      <section id="loop">
                <h3>Bindable Loop</h3>
                <button class=big-button ng-click='ditty.currentTime = 0;ditty.play()' ()>audio.muting</button>
                     <select ng-model=ditty.loop ng-options="value as value for value in [1,2,3,true,false]">
                     </select>
            </section>
 -->

  						<section>
 								<h2>
 									How It Works
 								</h2>
  						</section>

 						<section>
								<h2>
									Hands on Example
								</h2>
 						</section>



            <section data-state="customevent">
                <h2>Conclusion</h2>
               
            </section>

            <section>
               <h3>Challenges</h3>
               <ul>
               	<li>
               		Memory consumption
               	</li>
               	<li>
               		Mobile compatibility
               	</li>
               	<li>
               		Browser support
               	</li>
               </ul>
            </section>

            <section>
               <h3>Review</h3>
               <ul>
               	<li>
               		Sound is important; awesome
               	</li>
               	<li>
               		Bind to sound volume and time
               	</li>
               	<li>
               		Continue improving
               	</li>
               </ul>
            </section>

          

            <section>
            	<h2>Thank you for Listening!</h2>
            	<h3>@danielsternband</h3>
            	<h3>github.com/danielstern</h3>

            	<p>Q & A</p>
            </section>

       
        </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [{
            src: 'lib/js/classList.js',
            condition: function() {
                return !document.body.classList;
            }
        }, {
            src: 'plugin/markdown/marked.js',
            condition: function() {
                return !!document.querySelector('[data-markdown]');
            }
        }, {
            src: 'plugin/markdown/markdown.js',
            condition: function() {
                return !!document.querySelector('[data-markdown]');
            }
        }, {
            src: 'plugin/highlight/highlight.js',
            async: true,
            callback: function() {
                hljs.initHighlightingOnLoad();
            }
        }, {
            src: 'plugin/zoom-js/zoom.js',
            async: true,
            condition: function() {
                return !!document.body.classList;
            }
        }, {
            src: 'plugin/notes/notes.js',
            async: true,
            condition: function() {
                return !!document.body.classList;
            }
        }]
    });
    </script>

</body>

</html>
